.forms form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main{
    display: flex;
    justify-content: center;
    padding: 20px;

    background-color: lightgray;
}

.form--product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 30px;
    width: 500px;
    padding: 30px 70px;

    border-radius: 8px;

    background-color: white;
}

.form--product h1 {
    color: orangered;   
    font-size: 18px;
    font-weight: 500;
}

.select--imgProduct{
    color: orangered;
    margin-top: 10px;
    font-weight: 500;
}