main{
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 64px 128px;
}

.todos-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.1);
    border: none;
}

.card img{
    width: 100%;

}

.card h2{
    font-size: 16px;
}

.card p{
    color: grey;
    font-size: 14px;
}

.card .preco{
    color: orangered;
}

.info_produto{
    display: flex;
    justify-content: space-between;
}

.banner2 img{
    width: 100%;
}

.imagens h1{
    text-align: center;
    color: orangered;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 4px solid rgba(255, 69, 0,0.35 );
}
